li {
  list-style: none;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;

  // @media (min-width: 768px) {
  //     width: 20vw;
  // }
  &__btn {
    align-self: flex-end;
    font-size: 25px;
    cursor: pointer;
    color: $colorPink;
  }
  &__img {
    width: 105px;
    height: 150px;
    @media (min-width: 768px) {
      width: 157px;
      height: 225px;
    }
  }
}

h2 {
  margin-bottom: 4%;
}

.form {
  margin: 20px;
  display: flex;
  gap: 10px;
  // width: 100vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (min-width: 768px) {
   flex-direction: row;
   justify-content: flex-start;
  }

  &__input {
    padding: 4px;
    height: 30px;
    width: 200px;
    font-size: 2rem;
    border-color: $colorPink;
    color: $colorPink;
    &::placeholder {
      color: pink;
      font-family: $font-main;
      border-color: pink;
    }
    @media (min-width: 768px) {
      height: 50px;
      width: 300px;
     

    }
  }

  &__btn {
    cursor: pointer;
    color: $colorWhite;
    font-family: $font-main;
    font-size: 2rem;
    background-color: $colorPink;
    padding: 4px;
    border-radius: 25px;
    border: solid 1px $colorPink;
    @media (min-width: 768px) {
      font-size: 2rem;
      padding: 10px;
    }
  }
}

.container {
  display: flex;
  gap: 10px;
  flex-direction: row;
  margin: 50px 20px;
  &__fav {
    
    padding: 5px 10px;
    border: 2px solid rgb(117, 33, 138);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    @media (min-width: 768px) {
      padding: 20px;
    }
    &--title {
      color: $colorWhite;
      font-family: $font-main;
      font-size: 2rem;
      background-color: rgb(117, 33, 138);
      text-align: center;
      padding: 15px;
      border-radius: 15px;
      padding: 4px;
    }
    // max-width: 30vw;
    &--btn {
      cursor: pointer;
      padding: 4px;
      border-radius: 10px;
      border: solid 1px $colorPink;
      font-size: 1.5rem;
      color: $colorWhite;
      font-family: $font-main;
      background-color: $colorPink;
      @media (min-width: 768px) {
        font-size: 2rem;
        padding: 10px;
      }
    }

    &--ul {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  &__res {
    padding: 5px 10px;
    border: 2px solid rgb(101, 131, 230);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    min-width: 50%;
    // align-items: center;
    gap: 30px;
    @media (min-width: 768px) {
      padding: 20px;
    }
    &--title {
      color: $colorWhite;
      font-family: $font-main;
      font-size: 2rem;
      background-color: rgb(101, 131, 230);
      text-align: center;
      padding: 15px;
      border-radius: 15px;
      padding: 4px;
    }
    &--ul {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
    }
  }
}

.favorite {
  background-color: pink;
  color: red;
}
